<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Model Deploy</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
    </head>

    <body>
        <h1 class="text-center" style="margin-top: 30px;">Preposition Error Detection</h1>
        <form action="/" method="post">
            <label class="form-label" style="margin-left: 30px;margin-right:10px;margin-top: 25px;">Enter your sentence</label>
            <input type="text" name="sentence" style="width: 400px;" id="myInput">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit" style="margin-left: 30px;margin-top: 11px;">Predict</a>
                    <button class="btn btn-primary" type="reset" style="margin-left: 30px;margin-top: 11px;" onclick="ClearFields();">Clear</button>
                </div>
            </div>
        </form>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>